In [1]:
#Import necessary packages
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
#Get all the text from the required url
url = requests.get("https://www.iplt20.com/teams/chennai-super-kings/squad/1/ms-dhoni").text

In [3]:
#Convert the obtained text using BeatifulSoup 
data = BeautifulSoup(url)

In [4]:
#Get all the column names from the Table by looking for table heading: "th"
data_col = data.findAll('th')

for i in range(len(data_col)):
    data_col[i] = data_col[i].text

In [5]:
#Since we need on only batting statistics we use only first 11 columns
data_col = data_col[0:-11]

In [6]:
#Find the table using find_all function
data.find_all('table')

[<table class="player-details">
 <tbody>
 <tr class="js-role u-hide">
 <td class="player-details__label">Role</td>
 <td class="player-details__value js-value"></td>
 </tr>
 <tr>
 <td class="player-details__label">Batting Style</td>
 <td class="player-details__value">Right-handed</td>
 </tr>
 <tr class="js-bowling-style u-hide">
 <td class="player-details__label">Bowling Style</td>
 <td class="player-details__value js-value"></td>
 </tr>
 <tr>
 <td class="player-details__label">Nationality</td>
 <td class="player-details__value">Indian</td>
 </tr>
 </tbody>
 </table>,
 <table class="player-details">
 <tbody>
 <tr class="js-nickname u-hide">
 <td class="player-details__label">Nickname</td>
 <td class="player-details__value js-value"></td>
 </tr>
 <tr>
 <td class="player-details__label">DOB</td>
 <td class="player-details__value">07 July 1981</td>
 </tr>
 <tr class="js-debut u-hide">
 <td class="player-details__label">IPL Debut</td>
 <td class="player-details__value js-value"></td>
 </tr>
 </tbody>
 </table>,
 <table class="table table--scroll-on-phablet player-stats-table js-table">
 <tr>
 <th><b>Batting and Fielding</b></th>
 <th>Mat</th>
 <th>No</th>
 <th>Runs</th>
 <th>HS</th>
 <th>Ave</th>
 <th>BF</th>
 <th>SR</th>
 <th>100</th>
 <th>50</th>
 <th>4s</th>
 <th>6s</th>
 <th>CT</th>
 <th>ST</th>
 </tr>
 <tr class="player-stats-table__highlight">
 <td>Career</td>
 <td>197</td>
 <td>68</td>
 <td>4534</td>
 <td>84*</td>
 <td>42.37</td>
 <td>3,294</td>
 <td>137.64</td>
 <td>0</td>
 <td>23</td>
 <td>304</td>
 <td>213</td>
 <td>108</td>
 <td>39</td>
 </tr>
 <tr class="">
 <td>2020</td>
 <td>7</td>
 <td>3</td>
 <td>102</td>
 <td>47*</td>
 <td>51.00</td>
 <td>79</td>
 <td>129.11</td>
 <td>0</td>
 <td>0</td>
 <td>7</td>
 <td>4</td>
 <td>10</td>
 <td>1</td>
 </tr>
 <tr class="">
 <td>2019</td>
 <td>15</td>
 <td>7</td>
 <td>416</td>
 <td>84*</td>
 <td>83.20</td>
 <td>309</td>
 <td>134.62</td>
 <td>0</td>
 <td>3</td>
 <td>22</td>
 <td>23</td>
 <td>11</td>
 <td>5</td>
 </tr>
 <tr class="">
 <td>2018</td>
 <td>16</td>
 <td>9</td>
 <td>455</td>
 <td>79*</td>
 <td>75.83</td>
 <td>302</td>
 <td>150.66</td>
 <td>0</td>
 <td>3</td>
 <td>24</td>
 <td>30</td>
 <td>11</td>
 <td>3</td>
 </tr>
 <tr class="">
 <td>2017</td>
 <td>16</td>
 <td>4</td>
 <td>290</td>
 <td>61*</td>
 <td>26.36</td>
 <td>250</td>
 <td>116.00</td>
 <td>0</td>
 <td>1</td>
 <td>15</td>
 <td>16</td>
 <td>10</td>
 <td>3</td>
 </tr>
 <tr class="">
 <td>2016</td>
 <td>14</td>
 <td>5</td>
 <td>284</td>
 <td>64*</td>
 <td>40.57</td>
 <td>210</td>
 <td>135.23</td>
 <td>0</td>
 <td>1</td>
 <td>18</td>
 <td>14</td>
 <td>8</td>
 <td>4</td>
 </tr>
 <tr class="">
 <td>2015</td>
 <td>17</td>
 <td>5</td>
 <td>372</td>
 <td>53</td>
 <td>31.00</td>
 <td>305</td>
 <td>121.96</td>
 <td>0</td>
 <td>1</td>
 <td>27</td>
 <td>17</td>
 <td>8</td>
 <td>3</td>
 </tr>
 <tr class="">
 <td>2014</td>
 <td>16</td>
 <td>10</td>
 <td>371</td>
 <td>57*</td>
 <td>74.20</td>
 <td>250</td>
 <td>148.40</td>
 <td>0</td>
 <td>1</td>
 <td>22</td>
 <td>20</td>
 <td>3</td>
 <td>1</td>
 </tr>
 <tr class="">
 <td>2013</td>
 <td>18</td>
 <td>5</td>
 <td>461</td>
 <td>67*</td>
 <td>41.90</td>
 <td>283</td>
 <td>162.89</td>
 <td>0</td>
 <td>4</td>
 <td>32</td>
 <td>25</td>
 <td>15</td>
 <td>2</td>
 </tr>
 <tr class="">
 <td>2012</td>
 <td>19</td>
 <td>5</td>
 <td>358</td>
 <td>51*</td>
 <td>29.83</td>
 <td>278</td>
 <td>128.77</td>
 <td>0</td>
 <td>1</td>
 <td>26</td>
 <td>9</td>
 <td>12</td>
 <td>2</td>
 </tr>
 <tr class="">
 <td>2011</td>
 <td>16</td>
 <td>4</td>
 <td>392</td>
 <td>70*</td>
 <td>43.55</td>
 <td>247</td>
 <td>158.70</td>
 <td>0</td>
 <td>2</td>
 <td>25</td>
 <td>23</td>
 <td>5</td>
 <td>5</td>
 </tr>
 <tr class="">
 <td>2010</td>
 <td>13</td>
 <td>2</td>
 <td>287</td>
 <td>66*</td>
 <td>31.88</td>
 <td>210</td>
 <td>136.66</td>
 <td>0</td>
 <td>2</td>
 <td>26</td>
 <td>8</td>
 <td>5</td>
 <td>6</td>
 </tr>
 <tr class="">
 <td>2009</td>
 <td>14</td>
 <td>5</td>
 <td>332</td>
 <td>58*</td>
 <td>41.50</td>
 <td>261</td>
 <td>127.20</td>
 <td>0</td>
 <td>2</td>
 <td>22</td>
 <td>9</td>
 <td>4</td>
 <td>4</td>
 </tr>
 <tr class="">
 <td>2008</td>
 <td>16</td>
 <td>4</td>
 <td>414</td>
 <td>65</td>
 <td>41.40</td>
 <td>310</td>
 <td>133.54</td>
 <td>0</td>
 <td>2</td>
 <td>38</td>
 <td>15</td>
 <td>6</td>
 <td>0</td>
 </tr>
 </table>,
 <table class="table table--scroll-on-phablet player-stats-table js-table">
 <tr>
 <th><b>Bowling</b></th>
 <th>Mat</th>
 <th>Balls</th>
 <th>Runs</th>
 <th>WKTS</th>
 <th>BBM</th>
 <th>Ave</th>
 <th>Econ</th>
 <th>SR</th>
 <th>4W</th>
 <th>5W</th>
 </tr>
 <tr class="player-stats-table__highlight">
 <td>Career</td>
 <td>197</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2020</td>
 <td>7</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2019</td>
 <td>15</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2018</td>
 <td>16</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2017</td>
 <td>16</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2016</td>
 <td>14</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2015</td>
 <td>17</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2014</td>
 <td>16</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2013</td>
 <td>18</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2012</td>
 <td>19</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2011</td>
 <td>16</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2010</td>
 <td>13</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2009</td>
 <td>14</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 <tr class="">
 <td>2008</td>
 <td>16</td>
 <td>0</td>
 <td>0</td>
 <td>0</td>
 <td>0/0</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>0</td>
 <td>0</td>
 </tr>
 </table>]

In [7]:
#find the table using attributes, in this case we use "class" 
stats_table = data.find_all("table",attrs={"class":"table table--scroll-on-phablet player-stats-table js-table"})

In [8]:
#A function to get the contents of the table
def get_table(tb):
    table = []
    for i in tb:                                             #looking into each table under this table tag:{Batting and bowling}
        tr = i.findAll('tr')                                 #Find all table row in the table
        for x in tr:                                         #Looking into each row of the table
            td = x.findAll('td')                             #Find the contents in each row
            row = [j.text.replace('\n',"").replace("\r","").replace('\t',"") for j in td]    #Clean the text and save it
            table.append(row)                                #Append to the table list
    return table

In [9]:
#get the table
table = get_table(stats_table)
table[0] = data_col                                          #Replace first row with colum names

In [10]:
df = pd.DataFrame(table[0:15])                               #Extract only Batting stats
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Batting and Fielding,Mat,No,Runs,HS,Ave,BF,SR,100,50,4s,6s,CT,ST
1,Career,197,68,4534,84*,42.37,"3,294",137.64,0,23,304,213,108,39
2,2020,7,3,102,47*,51.00,79,129.11,0,0,7,4,10,1
3,2019,15,7,416,84*,83.20,309,134.62,0,3,22,23,11,5
4,2018,16,9,455,79*,75.83,302,150.66,0,3,24,30,11,3
5,2017,16,4,290,61*,26.36,250,116.00,0,1,15,16,10,3
6,2016,14,5,284,64*,40.57,210,135.23,0,1,18,14,8,4
7,2015,17,5,372,53,31.00,305,121.96,0,1,27,17,8,3
8,2014,16,10,371,57*,74.20,250,148.40,0,1,22,20,3,1
9,2013,18,5,461,67*,41.90,283,162.89,0,4,32,25,15,2
10,2012,19,5,358,51*,29.83,278,128.77,0,1,26,9,12,2
11,2011,16,4,392,70*,43.55,247,158.70,0,2,25,23,5,5
12,2010,13,2,287,66*,31.88,210,136.66,0,2,26,8,5,6
13,2009,14,5,332,58*,41.50,261,127.20,0,2,22,9,4,4
14,2008,16,4,414,65,41.40,310,133.54,0,2,38,15,6,0

In [11]:
#Save file as Csv
#file = df.to_csv("<File Path>",index =False,header = False)

## Match wise IPL Stats

In [12]:
link = requests.get("http://howstat.com/cricket/Statistics/IPL/PlayerProgressBat.asp?PlayerID=3243")

In [13]:
bs = BeautifulSoup(link.text)

In [14]:
match= bs.findAll("table",attrs={"class":"TableLined"})

In [15]:
match_table =get_table(match)

In [16]:
#match_table

In [17]:
match_df = pd.DataFrame(match_table).drop(index=[0,1])

In [18]:
match_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
2,,Date,Versus,Ground,D/N*,How Dismissed ...,Runs,B/F,S/R,,Aggr,Avg,S/R
3,1,19/04/2008,Kings XI Punjab ...,Punjab Cricket Association...,&check;,lbw b J R Hopes ...,2,3,66.67,,2,2.00,66.67
4,2,23/04/2008,Mumbai Indians ...,MA Chidambaram Stadium ...,&check;,c D J J Bravo b M Khote ...,30,16,187.50,,32,16.00,168.42
5,3,26/04/2008,Kolkata Knight Riders ...,MA Chidambaram Stadium ...,&check;,not out,43*,27,159.26,,75,37.50,163.04
6,4,28/04/2008,Royal Challengers Bangalor...,M Chinnaswamy Stadium ...,&check;,c sub b Z Khan ...,65,30,216.67,,140,46.67,184.21

In [19]:
#match_df.to_csv("File Path>",index =False,header = False)